@font-face {
    font-family: "digital";
    src: url(/digital-7.ttf);
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #edf2f4
}

body {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2b2d42;
    margin-bottom: 30px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.calculator-body {
    height: 600px;
    width: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 14px -7px #1F262F;
	background:linear-gradient(to bottom, #4f5d6e 5%, #1F262F 100%);
	background-color:#1F262F;
	border-radius:8px;
	color:#ffffff;
	font-size:20px;
	text-shadow:0px 1px 0px #1F262F;
    align-items: center;
    border: 3px solid #1F262F;
}

.display {
    height: 90px;
    width: 400px;
    background-color: #667069;
    margin-top: 20px;
    margin-bottom: 70px;
    border: 2px solid #1F262F;
    color: #1F262F;
    font-family: "digital";
    font-size: 55px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.buttons-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 400px;
    height: 60%;
}

.function-button {
    grid-column: span 2;
	background:linear-gradient(to bottom, #c76785 5%, #792640 100%);
	background-color:#792640;
	border-radius:14px;
	border:2px solid #531a2c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
}

.operation-button {
    background:linear-gradient(to bottom, #7271c4 5%, #5654A5 100%);
	background-color:#5654A5;
	border-radius:30px;
	border:2px solid #373681;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
}

.digit-button {
    background:linear-gradient(to bottom, #d6e1f0 5%, #a2adbd 100%);
	background-color:#B1C1D8;
	border-radius:14px;
	border:2px solid #7185a1;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
}

#equal {
    background:linear-gradient(to bottom, #c76785 5%, #792640 100%);
	background-color:#792640;
	border-radius:14px;
	border:2px solid #531a2c;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:25px;
}

.footer {
    padding: 15px;
    margin-top: auto;
    text-align: center;
    flex-shrink: 0;
    color: #2b2d42;
}